/Tarea 6/SimpleChat/dist/
/Tarea 6/SimpleChat/build/
/Tarea 6/SimpleChat/nbproject/private/
/Practico Corba/PracticoCorba/target/
/Practico Corba/1parcial/build/
/Practico Corba/1parcial/nbproject/private/